@inject ISnackbar Snackbar

<MudDialog>
    <DialogContent>
        <MudStack Justify="Justify.Center">
            <MudText Align="Align.Center" Typo="Typo.h3">Klauen Behandlung</MudText>
            <MudSpacer></MudSpacer>

            <MudGrid Justify="Justify.Center">
                <MudItem xs="6">
                    @if (Planned_Claw_Treatment.ClawFindingLV)
                    {
                        <button type="button" id="LV_Hoof_Block" class="Show_Hoof_Input"></button>
                    }
                    else
                    {
                        <button type="button" id="LV_Hoof_Standart" class="Show_Hoof_Input"></button>
                    }
                </MudItem>
                    <MudItem xs="6">
                        @if (Planned_Claw_Treatment.ClawFindingRV)
                    {
                        <button type="button" id="RV_Hoof_Block" class="Show_Hoof_Input"></button>
                    }
                    else
                    {
                        <button type="button" id="RV_Hoof_Standart" class="Show_Hoof_Input"></button>
                    }
                    </MudItem>
                    <MudItem xs="6">
                        @if (Planned_Claw_Treatment.ClawFindingLH)
                    {
                        <button type="button" id="LH_Hoof_Block" class="Show_Hoof_Input"></button>
                    }
                    else
                    {
                        <button type="button" id="LH_Hoof_Standart" class="Show_Hoof_Input"></button>
                    }
                    </MudItem>
                    <MudItem xs="6">
                        @if (Planned_Claw_Treatment.ClawFindingRH)
                    {
                        <button type="button" id="RH_Hoof_Block" class="Show_Hoof_Input"></button>
                    }
                    else
                    {
                        <button type="button" id="RH_Hoof_Standart" class="Show_Hoof_Input"></button>
                    }                               
                    </MudItem>
                </MudGrid>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@CloseModal">Schließen</MudButton>
            </MudStack>
        </DialogContent>
    </MudDialog>

    @code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public PlannedClawTreatment Planned_Claw_Treatment { get; set; } = new PlannedClawTreatment();

    public bool showTreatmentModal = false;

    protected override void OnInitialized()
    {
        DateTime currentDateTime = DateTime.Today;
    }

    public void CloseModal()
    {
        MudDialog.Close();
    }
}

